@import url(../../../fonts/fonts.css);
.card-views {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 700; }
  .card-views .icon {
    font-size: 22px;
    line-height: 20px;
    margin-right: 5px; }
