.breadcrumbs-item
  font-size: 14px
  float: left
  color: grey
  display: flex
  align-items: center
  a
    transition: color .2s ease-in
    color: #b3b3b3
    text-decoration: none
  &_hovered
    a
      color: #666666

