.card_size_m {
  grid-template-columns: 1fr;
  grid-template-areas: 'heading' 'body' 'footer';
  grid-template-rows: 180px auto 60px;
  grid-row: span 2; }
  .card_size_m .card-head {
    height: 180px; }
  .card_size_m .card-thumbnail {
    height: 180px; }
  .card_size_m .card-body {
    padding: 20px; }
    .card_size_m .card-body .card-description {
      display: none; }
  .card_size_m .card-title span {
    text-align: left;
    line-height: 1.25;
    color: #666;
    font-size: 16px;
    font-weight: 500; }
  .card_size_m .card-footer {
    border-top: 2px solid #f7f7f7;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between; }
    .card_size_m .card-footer .card-author {
      display: none; }
    .card_size_m .card-footer .card-views {
      color: #b3b3b3; }
    .card_size_m .card-footer .card-comments {
      display: none; }
