.card_size_l
  grid-column-end: span 1
  grid-template-columns: 1fr
  grid-column: span 2
  grid-row: span 2
  & .card-description
    display: none

  & .card-footer
    position: absolute
    border-top: 2px solid rgba(255, 255, 255, .4)
    bottom: 0
    height: 20px
    padding: 20px 30px
    font-weight: 500
    min-width: 89%
    display: flex
    justify-content: space-between
    align-content: center
    & .card-author
      font-size: 13px
      line-height: 13px
      color: white
    & .card-views
      fill: white
    & .card-comments
      fill: white

.card_size_l .card-thumbnail
  height: 330px
  width: 100%
  background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, 1))

.card_size_l .card-thumbnail img
  opacity: 0.55

.card_size_l .card-body
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  min-width: 90%

.card_size_l .card-head
  display: flex
  justify-content: center

.card_size_l .card-head .card-tag
  margin-left: 0

.card_size_l .card-title span
  line-height: 40px
  font-size: 24px
  color: #fff
  font-weight: 500
  font-family: 'Roboto', sans-serif
  text-align: center

.card_size_l .card-head .card-tag
  margin-top: 50px

.card_size_l .card-footer .card-date
  color: white
