.card_size_xs
  grid-row: span 1
  height: auto
  & .card-description
    display: none
  & .card-tag
    margin-left: 15px
    margin-top: 10px


  & .card-thumbnail
    width: 100%
    height: 150px
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, 1))

  & .card-thumbnail img
    opacity: 0.55

  & .card-body
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 80%

  & .card-footer
    position: absolute

  & .card-head
    display: flex
    justify-content: flex-start

  & .card-title span
    line-height: 25px
    font-size: 14px
    color: #fff
    font-weight: 500
    font-family: 'Roboto', sans-serif
    text-align: left
    display: block
    width: 220px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  & .card-footer
    position: absolute
    bottom: 0
    height: 20px
    padding: 20px 15px
    font-weight: 500
    & .card-author
      display: none
    & .card-views
      display: none
    & .card-comments
      display: none
    & .card-date
      color: white
