.card_size_xs {
  grid-row: span 1;
  height: auto; }
  .card_size_xs .card-description {
    display: none; }
  .card_size_xs .card-tag {
    margin-left: 15px;
    margin-top: 10px; }
  .card_size_xs .card-thumbnail {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black); }
  .card_size_xs .card-thumbnail img {
    opacity: 0.55; }
  .card_size_xs .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%; }
  .card_size_xs .card-footer {
    position: absolute; }
  .card_size_xs .card-head {
    display: flex;
    justify-content: flex-start; }
  .card_size_xs .card-title span {
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    display: block;
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .card_size_xs .card-footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    padding: 20px 15px;
    font-weight: 500; }
    .card_size_xs .card-footer .card-author {
      display: none; }
    .card_size_xs .card-footer .card-views {
      display: none; }
    .card_size_xs .card-footer .card-comments {
      display: none; }
    .card_size_xs .card-footer .card-date {
      color: white; }
