.button_rounded_circle
    border-radius: 50%
    color: white
    padding: 20px
    text-align: center
    text-decoration: none
    background: rgba(0,0,0,0.3)
    line-height: 14px
    font-size: 22px
    display: inline-block
    border: none
    transition: background 200ms
    &:hover
        background: rgba(0,0,0,0.7)
    &:focus 
        outline: none
    &:active
        outline: none