@media only screen and (max-width: 1024px) {
  .articlecontent-content_block_code {
    padding: 0px 0px;
    background: #2b2b2b; }
    .articlecontent-content_block_code pre {
      margin: 0 0;
      padding: 0; }
      .articlecontent-content_block_code pre .hljs {
        padding: 15px 5px; } }
