.sidebar {
  width: 220px;
  height: calc(100vh - 90px);
  position: absolute;
  background: #fff;
  z-index: 999;
  top: 90px;
  left: 0;
  transform: translateX(-100%);
  transition: all .3s ease-out; }
  .sidebar_open {
    transform: translateX(0); }
