.articleheader-tag {
  z-index: 10;
  grid-area: tag;
  color: #fff;
  border-radius: 4px;
  background-color: red;
  text-transform: uppercase;
  display: flex;
  align-self: center;
  font-weight: 900;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  font-size: 12px;
  padding: 9px 18px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  width: fit-content;
  height: fit-content; }
