@media only screen and (max-width: 1024px)
  .articleheader_type_centred
    & .articleheader-content
      padding: 20px 10px
      border-radius: 0
      grid-template-columns: auto auto
      grid-template-rows: auto auto 40px
      grid-row-gap: 20px
      grid-template-areas: "tools none" "head head" "info info"
    & .articleheader-tools
      display: flex
      justify-content: center
    & .articleheader-main
      grid-template-rows: 30px auto 30px 30px
    & .articleheader-title
      font-size: 26px
    & .articleheader-info
      justify-content: center
