@media only screen and (max-width: 1024px) {
  .articleheader_type_centred .articleheader-content {
    padding: 20px 10px;
    border-radius: 0;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 40px;
    grid-row-gap: 20px;
    grid-template-areas: "tools none" "head head" "info info"; }
  .articleheader_type_centred .articleheader-tools {
    display: flex;
    justify-content: center; }
  .articleheader_type_centred .articleheader-main {
    grid-template-rows: 30px auto 30px 30px; }
  .articleheader_type_centred .articleheader-title {
    font-size: 26px; }
  .articleheader_type_centred .articleheader-info {
    justify-content: center; } }
