@media only screen and (max-width: 1024px)
  .articlecontent-content_block_text
    background: white
    padding: 15px 15px
    margin: 0
    h2
      margin: 0
      padding: 15px 0
      font-size: 24px
    h3
      padding: 15px 0
      font-size: 24px
    h4
      padding: 15px 0
      font-size: 18px
