.articlefooter-sharecount
 font-size: 12px
 text-align: center
 vertical-align: middle
 background-color: #ffffff
 border-radius: 5px
 border: 2px solid #f5f5f5
 height: 30px
 width: 35px
 line-height: 30px
 &:after
	 background-color: #ffffff
	 border-left: 2px solid #f5f5f5
	 border-bottom: 2px solid #f5f5f5
	 content: "\00a0"
	 display: block
	 height: 7px
	 left: -6px
	 position: relative
	 top: -19px
	 transform: rotate( 45deg )
	 -moz-transform: rotate( 45deg )
	 -ms-transform: rotate( 45deg )
	 -o-transform: rotate( 45deg )
	 -webkit-transform: rotate( 45deg )
	 width: 7px