@media only screen and (max-width: 1024px)

  .articleheader_type_withoutImage
    border-radius: 0
    & .articleheader-content
      display: grid
      border-radius: 0
      padding: 20px 10px
      grid-template-columns: auto auto
      grid-template-rows: 90px auto 40px
      grid-column-gap: 30px
      grid-row-gap: 20px
      grid-template-areas: "tools  none" "head  head" "info info"
    & .articleheader-tools
      margin: 0 auto
    & .articleheader-main
      grid-template-rows: 30px auto 30px 30px
      grid-template-columns: 160px auto
      grid-row-gap: 20px
      grid-template-areas: "tag tag" "title title" "date date" "line line"
    & .articleheader-title
      font-size: 26px
    & .articleheader-info
        .articleheader-item:last-child
          margin-right: 0
