@media only screen and (max-width: 1024px) {
  .articlecontent-content-left {
    grid-area: left;
    position: relative;
    display: flex;
    justify-content: flex-start; }
  .articlecontent-content-right {
    grid-area: right;
    position: relative;
    display: flex;
    justify-content: flex-end; }
  .articlecontent-content-area {
    grid-area: slide;
    position: relative; }
  .articlecontent-content_block_carousel {
    padding: 30px 20px;
    display: grid;
    background: white;
    grid-template-columns: auto auto;
    grid-template-rows: auto 90px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-areas: "slide  slide" "left  right"; }
    .articlecontent-content_block_carousel .articlecontent-content-area {
      width: 100%; } }
