.card_size_xl_rectangle
  grid-column-end: span 1
  grid-template-columns: 1fr
  grid-column: span 1
  height: 100%
  grid-row: span 3
  & .card-thumbnail
    height: 510px
    width: 100%
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, 1))
    & img
      opacity: 0.55

  & .card-body
    position: absolute
    top: 230px
    order: 2
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 90%
    & .card-description
      display: none
  & .card-head
    display: flex
    justify-content: flex-start

  & .card-title span
    line-height: 1.15
    font-size: 24px
    color: #fff
    font-weight: 700
    font-family: 'Roboto', sans-serif
    text-align: center


  & .card-footer .card-date
    color: white
    top: 150px
    position: absolute
    left: 50%
    transform: translate(-50%, -50%)

  & .card-footer .card-author
    color: white
    bottom: 150px
    position: absolute
    left: 50%
    transform: translate(-50%, -50%)

  & .card-footer .card-views
    color: white
    bottom: 80px
    position: absolute
    left: 65%
    transform: translate(-50%, -50%)

  & .card-footer .card-comments
    color: white
    bottom: 80px
    position: absolute
    left: 35%
    transform: translate(-50%, -50%)
