@media only screen and (max-width: 1024px)

  .articlecontent-content_block_gallery
    background: white
    padding: 30px 20px
    margin: 0
    font-family: 'Roboto', sans-serif
    display: grid
    grid-template-columns: calc(50% - 15px) calc(50% - 15px)
    grid-column-gap: 30px
    grid-row-gap: 30px
    grid-template-rows: 80px 80px 80px 80px 80px
