.card_size_xss_wide
  grid-column-end: span 1
  grid-template-columns: 1fr
  grid-column: span 2
  grid-row: span 1
  height: auto

  & .card-thumbnail
    width: 100%
    height: 150px
    transition: all 1s ease-out
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, 1))
  & .card-thumbnail img
    opacity: 0.55
  & .card-body
    position: absolute
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 90%
    & .card-description
      display: none
  & .card-head
    display: flex
    justify-content: flex-start
    & .card-tag
      bottom: 20px


  & .card-title span
    line-height: 25px
    font-size: 14px
    color: #fff
    font-weight: 500
    font-family: 'Roboto', sans-serif
    text-align: left

  & .card-footer
    & .card-date
      position: absolute
      bottom: 0
      height: 20px
      padding: 20px 15px
      left: 115px
      font-weight: 500
      color: white
    & .card-author
      display: none
    & .card-views
        color: #b3b3b3
        bottom: 0
        position: absolute
        right: 15%
        padding: 20px 15px
    & .card-comments
      color: #b3b3b3
      bottom: 0
      position: absolute
      right: 3%
      padding: 20px 15px

