.articleheader_type_withoutImage
  border-radius: 6px 6px 0 0
  & .articleheader-content
    display: grid
    border-radius: 6px 6px 0 0
    padding: 60px 95px
    grid-template-columns: 80px auto 80px
    grid-template-rows: auto 40px
    grid-column-gap: 30px
    grid-row-gap: 90px
    grid-template-areas: "tools head none" "none1 info none2"
    font-family: 'Roboto', sans-serif
    background: none

  & .articleheader-tools
    grid-area: unset
  & .articleheader-main
    grid-template-rows: 90px auto 30px 30px
    grid-template-columns: 160px auto
    grid-template-areas: "tag tag" "title title" "date date" "line line"
  & .articleheader-tag
    display: flex
    justify-self: center
    align-self: flex-start
  & .articleheader-title
    text-align: center
    font-size: 36px
    color: #4d4d4d
    line-height: 1.65
  & .articleheader-date
    text-align: center
    justify-self: center
    color: #b3b3b3
  & .articleheader-line
    grid-area: line
    display: none
    justify-self: center
  & .articleheader-info
    justify-content: center
    & .articleheader-item
      color: #b3b3b3
      .icon-path
        fill: #b3b3b3
