.articleheader-item {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-right: 19px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500; }
  .articleheader-item .icon {
    font-size: 20px;
    line-height: 20px; }

.articleheader-value {
  margin-left: 10px; }
