@media only screen and (max-width: 1024px) {
  .card_size_xxl {
    grid-column: 1/3; }
    .card_size_xxl .card-thumbnail {
      width: 100%; }
      .card_size_xxl .card-thumbnail img {
        border-radius: 0; }
      .card_size_xxl .card-thumbnail .card-head .card-tag {
        margin: 20px 0; }
      .card_size_xxl .card-thumbnail .card-head .card-title {
        margin: 15px 0; }
      .card_size_xxl .card-thumbnail .card-head .card-description {
        margin: 25px 0;
        margin-bottom: 30px; }
      .card_size_xxl .card-thumbnail .card-head {
        width: 100%; }
      .card_size_xxl .card-thumbnail .card-body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px; }
      .card_size_xxl .card-thumbnail .card-footer {
        width: 100%; } }
