.articlefooter-socialicon {
  font-size: 18px;
  margin-right: 20px;
  color: #d8d8d8;
  cursor: pointer; }
  .articlefooter-socialicon:before {
    display: inline-block;
    font-family: 'lambda';
    font-style: normal;
    font-weight: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale; }
