.sidebar-text {
  padding: 15px 25px 12px;
  font-family: 'Roboto', sans-serif; }
  .sidebar-text:first-child {
    padding-top: 0; }

.sidebar-link {
  font-size: 18px;
  color: #666;
  text-decoration: none; }
