.articlecontent-content_block_text
  background: white
  padding: 15px 190px
  margin: 0
  font-family: 'Roboto', sans-serif
  h2
    margin: 0
    padding: 35px 0
    font-family: 'Roboto', sans-serif
    font-size: 34px
    font-weight: 300
    color: #666666
  h3
    margin: 0
    padding: 35px 0
    font-family: 'Roboto', sans-serif
    font-size: 34px
    font-weight: 300
    color: #666666
  h4
    margin: 0
    padding: 35px 0
    font-family: 'Roboto', sans-serif
    font-size: 18px
    font-weight: 300
    color: #666666
  p
    font-size: 16px
    color: #666666
    line-height: 1.58
  a
    color: #1875f0
    &:hover
      color: red
