@font-face {
  font-family: "lambda";
  font-weight: normal;
  font-style: normal;
  src: url("lambda/lambda.eot");
  src: url("lambda/lambda.eot") format("embedded-opentype"), url("lambda/lambda.woff") format("woff"), url("lambda/lambda.ttf") format("truetype"); }

/**Created by mr8bit on 19.12.17.**/
.icon-rotate-0:before {
  transform: rotate(0deg); }

.icon-rotate-45:before {
  transform: rotate(45deg); }

.icon-rotate-90:before {
  transform: rotate(90deg); }

.icon-rotate-180:before {
  transform: rotate(180deg); }

.icon-rotate-270:before {
  transform: rotate(270deg); }

.icon-rotate-360:before {
  transform: rotate(360deg); }

.icon:before {
  display: inline-block;
  font-family: 'lambda';
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale; }

.icon-vk:before {
  content: '\0041'; }

.icon-twitter:before {
  content: '\0042'; }

.icon-github:before {
  content: '\0056'; }

.icon-instagram:before {
  content: '\0048'; }

.icon-youtuve:before {
  content: '\004d'; }

.icon-comment:before {
  content: '\0046'; }

.icon-menu:before {
  content: '\004a'; }

.icon-eye:before {
  content: '\0043'; }

.icon-search:before {
  content: '\0047'; }

.icon-share:before {
  content: '\0045'; }

.icon-user:before {
  content: '\0049'; }

.icon-more:before {
  content: '\004b'; }

.icon-favorite:before {
  content: '\004f'; }

.icon-faovrite-solid:before {
  content: '\0050'; }

.icon-close:before {
  content: '\0070'; }

.icon-place:before {
  content: '\0052'; }

.icon-mail:before {
  content: '\0051'; }

.icon-phone:before {
  content: '\0053'; }

.icon-clock:before {
  content: '\0054'; }

.icon-clock-solid:before {
  content: '\0055'; }

.icon-wifi:before {
  content: '\0057'; }

.icon-notebook:before {
  content: '\0058'; }

.icon-arrow-left:before {
  content: '\0044'; }

.icon-arrow-right:before {
  content: '\004c'; }

.icon-flip:before {
  transform: scale(-1, 1); }

.icon--15-right {
  margin-right: 15px; }

.icon-logo:before {
  content: '\0059'; }
