.button_color_white {
  background: white;
  border: solid 2px;
  color: #D8D8D8;
  transition: background color border-color 200ms easy-out;
  border-color: #F5F5F5; }
  .button_color_white:hover {
    background: #0275d8;
    border-color: #0275d8; }
    .button_color_white:hover .icon-path {
      fill: white; }
