.articleheader-content {
  display: grid;
  border-radius: 6px 6px 0 0;
  padding: 95px;
  grid-template-columns: auto 260px;
  grid-template-rows: auto 40px;
  grid-column-gap: 30px;
  grid-row-gap: 90px;
  grid-template-areas: "head tools" "info info";
  font-family: 'Roboto', sans-serif;
  background-color: rgba(51, 51, 51, 0.5); }
  .articleheader-content .articleheader-tools {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; }
  .articleheader-content .articleheader-info .icon-path {
    fill: #ffffff; }
