.card-thumbnail
  grid-area: image
  border-radius: 5px
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end

.card-thumbnail img
  width: 100%
  height: 100%
  border-radius: 5px
  object-fit: cover
