.articlefooter
    display: flex
    flex-direction: column
    width: 1110px
    margin: 0 auto 30px
    padding: 30px 0 0
    background-color: white
    justify-content: flex-start
    flex-direction: column
    &-item
        width: 33%
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-between
        &:last-child
            justify-content: flex-end
    &-top
        border-top: 2px solid #f5f5f5
        border-bottom: 2px solid #f5f5f5
        padding: 30px 65px
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-between
    &-bottom
        padding: 45px 65px
        display: flex
        justify-content: space-between
        align-items: center
