.navigation_type_fluid {
  background: none;
  height: 118px;
  width: 100%;
  border-bottom: solid 2px #f0f0f0; }
  .navigation_type_fluid .navigation-content {
    height: 118px;
    width: 1050px; }
