@media only screen and (max-width: 1024px)
    .articlefooter
        display: flex
        flex-direction: column
        width: 100%
        margin: 0 auto 30px
        padding: 30px 0 0
        background-color: white
        justify-content: flex-start
        flex-direction: column
        &-item
            order: 2
            width: 100%
            display: flex
            margin-top: 20px
            flex-wrap: wrap
            flex-direction: row
            justify-content: space-between
            &:first-child
                order: 0
                width: 50%
                margin-top: 0
            &:last-child
                margin-top: 0
                order: 1
                width: 50%
                justify-content: flex-end
        &-top
            padding: 30px 20px
        &-bottom
            padding: 30px 20px
            display: flex
            justify-content: space-between
            align-items: center
            flex-direction: column
