.card
  display: grid
  grid-column-gap: 3vw
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1)
  border-radius: 6px
  position: relative
  font-family: 'Roboto', sans-serif
  background: white
  transition: all .1s ease-out
  text-decoration: none
