.card_size_xss_wide.card_image_flat
  grid-template-rows: 20px auto 60px

.card_size_l.card_image_flat
  grid-template-rows: 180px auto 60px
  & .card-head
    justify-content: flex-start
    & .card-thumbnail
      height: 180px
    & .card-tag
      margin-top: 20px
      margin-left: 20px
  & .card-footer
    & .card-date
      color: #b3b3b3
    & .card-author
      color: #b3b3b3
    & .card-views
      color: #b3b3b3
    & .card-comments
      color: #b3b3b3

.card_image_flat
  grid-template-columns: 1fr
  grid-template-areas: 'heading' 'body' 'footer'
  grid-template-rows: 90px auto 60px

  & .card-thumbnail
    height: 90px

  & .card-body
    padding: 20px
    position: relative
    top: 0
    left: 0
    transform: none
    width: auto
    min-width: auto

  & .card-title span
    text-align: left
    line-height: 21px
    color: #666
    font-size: 14px
    font-weight: 500

  & .card-footer
    border-top: 2px solid #f7f7f7
    padding: 20px 30px
    height: auto
    position: relative
    width: auto
    min-width: auto
    color: #b3b3b3
    fill: #b3b3b3

  & .card-footer .card-date

