.feed-list
    margin: 0 auto
    display: grid
    grid-column-gap: 30px
    grid-row-gap: 30px
    color: #444
    max-width: 1110px
    grid-auto-flow: dense
    grid-template-columns: repeat(4, 255px)
    grid-template-rows: 150px 150px 150px
    grid-auto-rows: minmax(150px, auto)
