.articlefooter-author {
  display: flex;
  flex-direction: row;
  font-family: 'Robot', sans-serif;
  justify-content: flex-start; }
  .articlefooter-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover; }
  .articlefooter-author-info {
    display: block;
    margin-left: 24px;
    flex-direction: column; }
  .articlefooter-author-name {
    font-size: 14px;
    color: #808080;
    line-height: 25px; }
  .articlefooter-author-position {
    font-size: 12px;
    line-height: 25px;
    color: #B3B3B3; }
