.articlecontent-content_block_quote {
  background: white;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 22px; }
  .articlecontent-content_block_quote .articlecontent-content-wrap {
    width: 67.6576577%;
    border: 2px solid #f6f6f6;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .articlecontent-content_block_quote .articlecontent-content-placeholder {
    width: 60px;
    height: 60px;
    border: 2px solid #f5f5f5;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px; }
  .articlecontent-content_block_quote .articlecontent-content-text {
    color: #666666;
    text-align: center;
    font-size: 18px;
    display: block;
    max-width: 73.9014647%; }
  .articlecontent-content_block_quote .articlecontent-content-author {
    margin-top: 35px;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 23px 10px 23px;
    border: 2px solid #f7f7f7;
    background-color: white;
    border-radius: 100px;
    position: relative;
    top: 20px; }
