@media only screen and (max-width: 1024px) {
  .articleheader-content {
    display: grid;
    border-radius: 6px 6px 0 0;
    padding: 35px 10px;
    grid-template-columns: auto 260px;
    grid-template-rows: auto auto 40px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-areas: "tools tools" "head head" "info info";
    font-family: 'Roboto', sans-serif;
    background-color: rgba(51, 51, 51, 0.5); }
    .articleheader-content .articleheader-tools {
      flex-direction: row; }
    .articleheader-content .articleheader-title {
      font-size: 26px; }
    .articleheader-content .articleheader-info .articleheader-item:last-child {
      margin-right: 0; } }
