.articleheader-main
  grid-area: head
  display: grid
  grid-template-rows: 30px auto 30px
  grid-template-columns: 160px auto
  grid-template-areas: "tag date" "title title"
  grid-row-gap: 30px
  border-radius: 6px 6px 0 0

.articleheader-line
  border-top: 2px solid transparent
  width: 100px
  margin-top: 28px
