.card-comments
  font-size: 12px
  display: flex
  justify-content: flex-start
  align-content: center
  flex-direction: row
  align-items: center
  color: white
  font-weight: 700
  .icon
    font-size: 22px
    line-height: 20px
    margin-right: 5px
