.card_size_xs_wide
  grid-column-end: span 1
  grid-template-columns: 1fr
  grid-column: span 2
  height: 240px
  & .card-description
      display: none
.card_size_xs_wide .card-thumbnail
  width: 100%
  height: 240px
  background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, 1))

.card_size_xs_wide .card-thumbnail img
  opacity: 0.55

.card_size_xs_wide .card-body
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  min-width: 90%

.card_size_xs_wide .card-footer
  position: absolute

.card_size_xs_wide .card-head
  display: flex
  justify-content: flex-start

.card_size_xs_wide .card-title span
  line-height: 28px
  font-size: 18px
  color: #fff
  font-weight: 500
  font-family: 'Roboto', sans-serif
  text-align: left

.card_size_xs_wide .card-footer
  position: absolute
  border-top: 2px solid rgba(255, 255, 255, .4)
  bottom: 0
  height: 20px
  padding: 20px 30px
  font-weight: 500
  min-width: 90%

.card_size_xs_wide .card-footer .card-date
  color: white
