@media only screen and (max-width: 1024px) {
  .articlecontent-content_block_quote {
    padding-left: 20px;
    padding-right: 20px; }
    .articlecontent-content_block_quote .articlecontent-content-wrap {
      width: 100%; } }
