@media only screen and (max-width: 1024px)

  .articlecontent-content
    &_block_quote
      padding-left: 20px
      padding-right: 20px
      .articlecontent-content
        &-wrap
          width: 100%
