.navigation-item {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 33px 18px;
  font-size: 14px;
  font-weight: 500;
  color: #b3b3b3;
  transition: all .2s ease-out;
  cursor: pointer;
  border-bottom: 2px solid transparent; }
  .navigation-item_hovered {
    color: #1875f0;
    border-bottom: 2px solid #1875f0; }
  .navigation-item_active {
    color: #1875f0;
    border-bottom: 2px solid #1875f0; }
