.articlecontent-content
    &_block_carousel
        padding: 30px 80px
        display: flex
        align-items: center
        justify-content: space-between
        background: white
        .articlecontent-content
            &-wrap
                display: flex
                width: 100%
                transition: transform .5s
                will-change: transform
                position: relative
                z-index: 1
                height: 300px
            &-area
                width: 80%
                overflow: hidden
                position: relative
                box-sizing: border-box
                display: flex
                justify-content: space-between
            &-item
                flex: 0 0 100%
                overflow: hidden
                display: flex
                align-items: flex-start
                flex-direction: column
                justify-content: center