.card-title {
  font-weight: 500;
  line-height: 1.35;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  text-decoration: none; }

.card-title span {
  text-align: center;
  display: block;
  padding-bottom: .5em; }
