.articlefooter-socialicon_name_vk:before {
  content: '\0041'; }

.articlefooter-socialicon_name_twitter:before {
  content: '\0042'; }

.articlefooter-socialicon_name_github:before {
  content: '\0056'; }

.articlefooter-socialicon_name_instagram:before {
  content: '\0048'; }

.articlefooter-socialicon_name_youtube:before {
  content: '\004d'; }
