.articlefooter-socialicon_name
	&_vk:before
    content: '\0041'
 &_twitter:before
    content: '\0042'
 &_github:before
    content: '\0056'
 &_instagram:before
    content: '\0048'
 &_youtube:before
    content: '\004d'