.articleheader_type_centred .articleheader-content {
  display: grid;
  border-radius: 6px 6px 0 0;
  padding: 60px 95px;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: auto 40px;
  grid-column-gap: 30px;
  grid-row-gap: 90px;
  grid-template-areas: "tools head none" "none1 info none2";
  font-family: 'Roboto', sans-serif; }

.articleheader_type_centred .articleheader-tools {
  grid-area: unset; }

.articleheader_type_centred .articleheader-main {
  grid-template-rows: 90px auto 30px 30px;
  grid-template-columns: 160px auto;
  grid-template-areas: "tag tag" "title title" "date date" "line line"; }

.articleheader_type_centred .articleheader-tag {
  display: flex;
  justify-self: center;
  align-self: flex-start; }

.articleheader_type_centred .articleheader-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.65; }

.articleheader_type_centred .articleheader-date {
  text-align: center;
  justify-self: center; }

.articleheader_type_centred .articleheader-line {
  grid-area: line;
  display: flex;
  justify-self: center; }

.articleheader_type_centred .articleheader-info {
  justify-content: center; }
