@media only screen and (max-width: 480px)
  .card_size_l
    & .card-footer
      position: absolute
      border-top: 2px solid rgba(255, 255, 255, .4)
      bottom: 0
      height: 20px
      padding: 20px 20px
      font-weight: 500
      min-width: calc(100% - 40px)
      display: flex
      justify-content: space-between
      align-content: center

