.button_icon_align_right
  display: flex
  align-items: center
  align-content: center
  flex-direction: row-reverse

.button_icon_align_left
  display: flex
  align-items: center
  align-content: center
  flex-direction: row

