@media only screen and (max-width: 480px) {
  .card_size_xxl .card-thumbnail {
    width: 100%; }
    .card_size_xxl .card-thumbnail img {
      border-radius: 0; }
  .card_size_xxl .card-head .card-tag {
    margin: 20px 0; }
  .card_size_xxl .card-head .card-title {
    margin: 15px 0; }
  .card_size_xxl .card-head .card-description {
    margin: 25px 0;
    margin-bottom: 30px; }
  .card_size_xxl .card-head {
    width: 100%; }
  .card_size_xxl .card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; }
  .card_size_xxl .card-footer {
    width: 100%; } }
