@media only screen and (max-width: 480px)
  .card_size_xxl
    & .card-thumbnail
        width: 100%
        img
          border-radius: 0
    & .card-head
        & .card-tag
          margin: 20px 0
        & .card-title
          margin: 15px 0
        & .card-description
          margin: 25px 0
          margin-bottom: 30px
    & .card-head
        width: 100%
    & .card-body
      position: relative
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 20px
    & .card-footer
      width: 100%
