.card-tag
  z-index: 10
  grid-area: tag
  color: #fff
  border-radius: 4px
  background-color: red
  padding: 6px 12px
  font-size: 10px
  text-transform: uppercase
  display: flex
  position: absolute
  margin-top: 20px
  margin-left: 20px
  font-weight: 900
  letter-spacing: 1.25px
