.header-link
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  justify-items: center
  border-radius: 50%
  border: 2px solid #f5f5f5
  width: 40px
  color: #d8d8d8
  height: 40px
  transition: all 200ms ease-in
  .icon-path
    transition: all 200ms ease-in
  &_hovered
    border-color: #1875f0
    color: #1875f0

    .icon-path
      fill: #1875f0
