.button_type_ghost {
  background: none;
  border: none;
  color: #B3B3B3;
  transition: color 200ms;
  transition-timing-function: ease-out; }
  .button_type_ghost .icon {
    font-size: 16px; }
  .button_type_ghost:hover {
    color: #1875F0; }
    .button_type_ghost:hover .icon-path {
      fill: #1875F0; }
  .button_type_ghost:outline {
    border: none; }
  .button_type_ghost:focus {
    border: none; }

.button_type_label {
  display: inline-block;
  border: none;
  color: #B3B3B3;
  border-radius: 4px;
  background-color: #f7f7f7;
  padding: 10px 15px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 200ms;
  transition-timing-function: ease-out; }
  .button_type_label:hover {
    color: #1875F0;
    background: none; }
  .button_type_label:outline {
    border: none; }
  .button_type_label:focus {
    border: none; }
