.button_type_ghost
  background: none
  border: none
  color: #B3B3B3
  transition: color 200ms
  transition-timing-function: ease-out
  .icon
    font-size: 16px
  &:hover
    color: #1875F0
    .icon-path
      fill: #1875F0

  &:outline
    border: none
  &:focus
    border: none

.button_type_label
  display: inline-block
  border: none
  color: #B3B3B3
  border-radius: 4px
  background-color: #f7f7f7
  padding: 10px 15px
  margin-right: 10px
  margin-top: 5px
  margin-bottom: 5px
  transition: all 200ms
  transition-timing-function: ease-out

  &:hover
    color: #1875F0
    background: none

  &:outline
    border: none
  &:focus
    border: none
