@media only screen and (max-width: 1024px)
    .articlecontent-image
        width: 100%
        position: relative
        grid-row: 2 span
        &-caption
            position: absolute
            bottom: 0
            padding: 25px
            left: 0
            font-weight: 500
            line-height: 1
            font-size: 14px
            color: white
        &-view
            position: absolute
            top: 50%
            left: 50%
            opacity: 0
            transform: translate(-50%, -50%)
            transition: opacity 200ms
        &:hover .articlecontent-image-view
            opacity: 1
        img
            display: block
            object-fit: cover
            width: 100%
            height: 100%
