@import url(../../fonts/fonts.css);
body {
  background-color: #fafafa;
  padding: 0;
  margin: 0; }

.header {
  width: 100%;
  height: 90px;
  background: white;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between; }
