.articlefooter-tools
    display: flex
    justify-content: center
    align-items: center
    color: #B3B3B3
    font-family: 'Roboto', sans-serif
    font-weight: 700
    div
        padding: 0 10px
        font-size: 12px
        display: flex
        align-items: center
        span
            padding: 0 10px
    .icon
        font-size: 21px
        line-height: 1
        transition: color 200ms
    &-likes:hover
        .icon-path
            fill: red
