.articlefooter-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B3B3B3;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }
  .articlefooter-tools div {
    padding: 0 10px;
    font-size: 12px;
    display: flex;
    align-items: center; }
    .articlefooter-tools div span {
      padding: 0 10px; }
  .articlefooter-tools .icon {
    font-size: 21px;
    line-height: 1;
    transition: color 200ms; }
  .articlefooter-tools-likes:hover .icon-path {
    fill: red; }
