.card_size_square_xl {
  grid-column-end: span 1;
  grid-template-columns: 1fr;
  grid-column: span 2;
  height: 100%;
  grid-row: span 3; }
  .card_size_square_xl .card-description {
    display: none; }

.card_size_square_xl .card-thumbnail {
  height: 510px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black); }

.card_size_square_xl .card-thumbnail img {
  opacity: 0.55; }

.card_size_square_xl .card-body {
  position: absolute;
  top: 230px;
  order: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 90%; }

.card_size_square_xl .card-head {
  display: flex;
  justify-content: center; }

.card_size_square_xl .card-head .card-tag {
  margin-left: 0;
  order: 0; }

.card_size_square_xl .card-title span {
  line-height: 40px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.card_size_square_xl .card-head .card-tag {
  margin-top: 80px; }

.card_size_square_xl .card-footer .card-date {
  color: white;
  top: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }

.card_size_square_xl .card-footer .card-author {
  color: white;
  bottom: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }

.card_size_square_xl .card-footer .card-views {
  color: white;
  bottom: 80px;
  position: absolute;
  left: 55%;
  transform: translate(-50%, -50%); }

.card_size_square_xl .card-footer .card-comments {
  color: white;
  bottom: 80px;
  position: absolute;
  left: 45%;
  transform: translate(-50%, -50%); }
