.card_size_m.card_image_fill {
  grid-template-rows: 100%;
  grid-template-areas: none;
  grid-column-end: span 1;
  grid-template-columns: 1fr;
  height: 100%;
  position: relative; }
  .card_size_m.card_image_fill .card-head {
    height: 100%;
    display: flex;
    justify-content: flex-start; }
    .card_size_m.card_image_fill .card-head .card-thumbnail {
      height: 100%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.99)); }
      .card_size_m.card_image_fill .card-head .card-thumbnail img {
        opacity: 0.55; }
  .card_size_m.card_image_fill .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 90%; }
    .card_size_m.card_image_fill .card-body .card-title span {
      text-align: left;
      line-height: 1.25;
      color: white;
      font-size: 18px;
      font-weight: 500; }
  .card_size_m.card_image_fill .card-footer {
    position: absolute;
    border-top: none;
    bottom: 0;
    height: 20px;
    padding: 20px 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-content: center; }
    .card_size_m.card_image_fill .card-footer .card-date {
      color: white; }
    .card_size_m.card_image_fill .card-footer .card-author {
      display: none; }
    .card_size_m.card_image_fill .card-footer .card-views {
      display: none; }
    .card_size_m.card_image_fill .card-footer .card-comments {
      display: none; }
